body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #008060;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}

#cart {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
